doctype html
head
  meta(charset='UTF-8')
  title Production
script(type='text/javascript' src='/app.js?68f1fc87dd56ff60b16b')
a-scene
  a-box#redBox.clickable(color='red')
  a-entity(light='type: ambient')
  a-entity(light='type: directional')
